*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: sfprom;
    src: url(../fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
    font-family: sfpror;
    src: url(../fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: sfprob;
    src: url(../fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF);
}

@font-face {
    font-family: sfprobi;
    src: url(../fonts/sf-pro-display/SFPRODISPLAYBLACKITALIC.OTF);
}

.main{
    width: 100%;
    height: 100vh;
    background-color: #101010;
    display: flex;
    align-items: center;
}

.navbar{
    width: 200px;
    height: 100vh;
    background-color: #101010;
    position: fixed;
}

.view{
    width: calc(99% - 200px);
    height: 95vh;
    background-color: #202021;
    border-radius: 20px;
    margin-left: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.welcome{
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #5672c2;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    width: 700px;
    padding-left: 30px;
}

.welcome img{
    width: 30%;
    padding-right:30px ;
}

.welcome h1, h2{
    color: white;
    font-family: 'sfprob';
}

.welcome h2{
    font-family: 'sfpror';
    color: rgb(211, 211, 211);
    font-size: 15px;
    padding-top: 10px;
}

.boxes{
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.boxes h1,h2{
    color: white;
    font-family: 'sfpror';
    padding: 10px;
    z-index: 99999;
}

.box{
    width: 270px;
    height: 180px;
    border: 1px solid #101010;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.box img{
    position: absolute;
    width: 80%;
    padding-left: 80px;
}
