*{
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar{
    width: 0;
}

@font-face {
    font-family: sfprom;
    src: url(../fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF);
}

@font-face {
    font-family: sfpror;
    src: url(../fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: sfprob;
    src: url(../fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF);
}

@font-face {
    font-family: sfprobi;
    src: url(../fonts/sf-pro-display/SFPRODISPLAYBLACKITALIC.OTF);
}

.main{
    width: 100%;
    min-height: 100vh;
    background-color: #101010;
    display: flex;
    align-items: center;
}

.navbar{
    width: 200px;
    height: 125vh;
    background-color: #101010;
    position: fixed;
}

.navbar h1,
a{
    color: white;
    font-family: 'sfpror';
    font-size: 20px;
    text-decoration: none;
}

.icon{
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 1em;
    padding-left: 20px;
    padding-top: 10px;
}

.icon img{
    width: 20px;
}


.view{
    width: calc(99% - 200px);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #202021;
    border-radius: 20px;
    margin-left: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.welcome{
    width: 99%;
    margin-top: 5px;
    height: 200px;
    overflow: hidden;
    background-color: #5672c2;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text{
    width: 700px;
}

.welcome img{
    width: 30%;
    padding-right:30px ;
}

.welcome h1{
    color: white;
    font-family: 'sfprob';
    padding-left: 30px;
}

.welcome h2{
    font-family: 'sfpror';
    color: rgb(211, 211, 211);
    font-size: 15px;
    padding-top: 10px;
    padding-left: 30px;
}

.boxes{
    width: 99%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.boxes h1,h2{
    color: white;
    font-family: 'sfpror';
    padding: 20px;
    z-index: 99999;
}

.box{
    width: 265px;
    height: 180px;
    background-color: #f55a00;
    background-color: #5672c2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.box img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.appointments{
    width: 99%;
    min-height: 300px;
    background-color: #f55a00;
    background-color: #101010;
    margin-top: 25px;
    border-radius: 15px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appointmentss{
    width: 99%;
    min-height: 300px;
    background-color: #f55a00;
    margin-top: 25px;
    border-radius: 15px;
    margin-bottom: 5px;
    display: flex;
}

#hmm{
    color: white;
    font-family: 'sfprob';
    font-size: 25px;
    padding-right: 20px;
    padding-top: 20px;
}

.titlee{
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.titlee > div{
    flex: 1;
    text-align: center;
}

.titlee h1{
    font-family: 'sfpror';
    font-size: 18px;
    color:white;
    padding-top: 30px;
}

.title{
    width: 98%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.title > div{
    flex: 1;
    text-align: center;
}

.title h1{
    font-family: 'sfpror';
    font-size: 16px;
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title:hover{
    background-color:#202021;
    transition: ease-in-out;
}

button{
    width: 90px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: 'sfpror';
}