<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admindash.css') }}">
</head>
<body>
    <section class="main">
        <div class="navbar">
            <h1>Hello</h1>
        </div>
        <div class="view">
            <div class="welcome">
                <div class="text">
                    <h1>Welcome Admin</h1>
                    <h2>Access and manage all hospital records, including user accounts, appointments, and system<br>configuration. Ensure data integrity for seamless operations.</h2>
                </div>
                <img src="{{ url_for('static',filename='images/docbg.jpg')}}" alt="">
            </div>
            <div class="boxes">
                <div class="box" style="background-color: #d7f3fe;">
                    <h1>{{doctor}}</h1>
                    <h2>Doctors</h2>
                    <img src="{{ url_for('static',filename='images/doctor.png')}}" alt="">
                </div>
                <div class="box">
                    <h1>{{pat}}</h1>
                    <h2>Patients</h2>
                    <img src="{{ url_for('static',filename='images/patient.png')}}" alt="">
                </div>
                <div class="box">
                    <h1>{{dept}}</h1>
                    <h2>Departments</h2>
                    <img src="{{ url_for('static',filename='images/dept.png')}}" alt="">
                </div>
                <div class="box">
                    <h1>{{dept}}</h1>
                    <h2>Appointments</h2>
                    <img src="{{ url_for('static',filename='images/appointment.png')}}" alt="">
                </div>
            </div>
            <div class="appointments">
                <h1>Upcoming Appointments</h1>
            </div>
        </div>
    </section>
</body>
</html>