<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admindash.css') }}">
</head>
<body>
    <section class="main">
        <div class="navbar">
            <div class="icon">
                <img src="{{ url_for('static',filename='icons/home.svg')}}" alt="">
                <a href="/admin_dashboard">Home</a>
            </div>
            <div class="icon">
                <img src="{{ url_for('static',filename='icons/doc.svg')}}" alt="">
                <a href="/doctor_list">Doctors</a>
            </div>
            <div class="icon">
                <img src="{{ url_for('static',filename='icons/patient.svg')}}" alt="">
                <a href="/patient_list">Patients</a>
            </div>
            <div class="icon">
                <img src="{{ url_for('static',filename='icons/app.svg')}}" alt="">
                <a href="/appointment_list">Appointments</a>
            </div>
            <div class="icon">
                <img src="{{ url_for('static',filename='icons/logout.svg')}}" alt="">
                <a href="/">Logout</a>
            </div>
        </div>
        <div class="view">
            <div class="welcome">
                <div class="text">
                    <h1>Welcome Admin</h1>
                    <h2>Access and manage all hospital records, including user accounts, appointments, and system<br>configuration. Ensure data integrity for seamless operations.</h2>
                </div>
                <img src="{{ url_for('static',filename='images/docbg.jpg')}}" alt="">
            </div>
            <div class="boxes">
                <div class="box" style="background-color: #d7f3fe;">
                    <h1>{{doctor}}</h1>
                    <h2>Doctors</h2>
                    <img src="{{ url_for('static',filename='images/doctor.png')}}" alt="">
                </div>
                <div class="box">
                    <h1>{{pat}}</h1>
                    <h2>Patients</h2>
                    <img src="{{ url_for('static',filename='images/patient.png')}}" alt="">
                </div>
                <div class="box">
                    <h1>{{dept}}</h1>
                    <h2>Departments</h2>
                    <img src="{{ url_for('static',filename='images/dept.png')}}" alt="">
                </div>
                <div class="box">
                    <h1>{{app}}</h1>
                    <h2>Appointments</h2>
                    <img src="{{ url_for('static',filename='images/appointment.png')}}" style="padding-left: 20px;" alt="">
                </div>
            </div>
            <div class="appointments">
                <h1 id="hmm" style="margin-bottom: 20px;">Upcoming Appointments</h1>
                <div class="titlee">
                    <div class="app">
                        <h1>Appointment ID</h1>
                    </div>
                    <div class="patient">
                        <h1>Patient Name</h1>
                    </div>
                    <div class="doc">
                        <h1>Doctor Name</h1>
                    </div>
                    <div class="appdate">
                        <h1>Appointment Date</h1>
                    </div>
                    <div class="appt">
                        <h1>Appointment Time</h1>
                    </div>
                    <div class="stat">
                        <h1>Status</h1>
                    </div>
                </div>
                {% for i in tab%}
                <div class="title">
                    <div class="app">
                        <h1>{{i[0]}}</h1>
                    </div>
                    <div class="patient">
                        <h1>{{i[1]}}</h1>
                    </div>
                    <div class="doc">
                        <h1>{{i[2]}}</h1>
                    </div>
                    <div class="appdate">
                        <h1>{{i[3]}}</h1>
                    </div>
                    <div class="appt">
                        <h1>{{i[4]}}</h1>
                    </div>
                    <div class="stat">
                        <h1>Booked</h1>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>
</html>