<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor-Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admindash.css') }}">
</head>
<body>
    <div class="navbar">
            <div class="icon">
                <img src="{{ url_for('static',filename='icons/home.svg')}}" alt="">
                <a href="/doctor_dashboard">Home</a>
            </div>
            <div class="icon">
                <img src="{{ url_for('static',filename='icons/avail.svg')}}" alt="">
                <a href="/timeslot">Availability</a>
            </div>
            <div class="icon">
                <img src="{{ url_for('static',filename='icons/logout.svg')}}" alt="">
                <a href="/">Logout</a>
            </div>
        </div>
        <section class="main">
        <div class="view" style="min-height: 92vh;">
            <div class="appointments">
                <h1 id="hmm">History</h1>
                <div class="titlee">
                    <div class="app">
                        <h1>Treatment ID</h1>
                    </div>
                    <div class="patient">
                        <h1>Doctor Name</h1>
                    </div>
                    <div class="stat">
                        <h1>Diagnosis</h1>
                    </div>
                    <div class="stat">
                        <h1>Treatment</h1>
                    </div>
                    <div class="stat">
                        <h1>Prescription</h1>
                    </div>
                </div>
                {% for i in his%}
                <div class="title">
                    <div class="app">
                        <h1>{{i[0]}}</h1>
                    </div>
                    <div class="patient">
                        <h1>{{i[1]}}</h1>
                    </div>
                    <div class="patient">
                        <h1>{{i[2]}}</h1>
                    </div>
                    <div class="patient">
                        <h1>{{i[3]}}</h1>
                    </div>
                    <div class="patient">
                        <h1>{{i[4]}}</h1>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>
</html>