<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign.css') }}">
    <link rel="stylesheet" href="../static/css/sign.css">
</head>
<body>
    <section class="main">
        <div class="centerdiv">
            <div class="divi" style="background-color: blue;">

            </div>
            <div class="divi">
                <form action="/register" method="post">
                    <div class="field">
                        <label for="uname">Name</label>
                        <input type="text" name="uname" id="uname" required placeholder="Enter Your Name">
                    </div>
                    <div class="field">
                        <label for="email">Email ID</label>
                        <input type="email" name="email" id="email" required placeholder="Enter Your Email ID">
                    </div>
                    <div class="field">
                        <label for="pwd">Password</label>
                        <input type="password" name="pwd" id="pwd" required placeholder="Enter Your Password">
                    </div>
                    <div class="field">
                        <label for="pnum">Phone Number</label>
                        <input type="number" name="pnum" id="pnum" required placeholder="Enter Your Phone Number">
                    </div>
                    <div class="field">
                        <label for="dob">DOB</label>
                        <input type="date" name="dob" id="dob" required style="color: white;">
                    </div>
                    <div class="field">
                        <div class="choose">
                            <label for="Gender">Gender</label>
                                <select name="Gender" required>
                                    <option value="" selected hidden>Gender</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                    required
                                </select>
                                <label for="ROle">Role</label>
                                <select name="Role" requiredwerkzeug.exceptions.BadRequestKeyError: 400 Bad Request: The browser (or proxy) sent a request that this server could not understand.
KeyError: 'gender'>
                                    <option value="" selected hidden>Role</option>
                                    <option value="Doctor">Doctor</option>
                                    <option value="Patient">Patient</option>
                                    required
                                </select>
                        </div>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>